body {
    font-size: 32px;
    width: 80%;
    height: 80%;
    color: white;
    border: 3px;
    padding: 1em;
    text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
    background: grey;

    /* background: white url("images/background.jpg") no-repeat; */
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid;
  padding: 10px;
}

h1 {
    background: grey;
    width: 100%;
}

li a {
    color: white; /* green */
}

td.custom {
    font-size: 36px;
    border: 2px solid grey;
    color: white; /* green */
}

table {
    /* border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    /* border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}